# Python cache
__pycache__/
*.pyc
*.pyo

__pycache__/
MINE/
*.exe
*.7z



# PyInstaller build directories
build/
build_*/
dist/
dist_*/

# Virtual env
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs and large local data
MINE/FUNCTION_LOG/
MINE/LOG/

# Notebook checkpoints
.ipynb_checkpoints/ 